#top {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 30px;
  }
  #container {
    width: 400px;
    height: 400px;
  }
  h3 {
    text-align: center;
    margin-top: 30px;
    color: black;
  }
  
  #search {
    text-align: center;
  }
  body {
    background-repeat: no-repeat;
    background-color: rgb(22, 212, 226);
  }
  input {
    width: 140px;
    height: 30px;
    border-radius: 15px;
  }
  button {
    width: 140px;
    height: 30px;
    border-radius: 15px;
  }
  a {
    font-size: 20px;
    font-weight: 700;
    color: black;
  }
  